<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Jordan Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


  </nav>

  <div class="card" style="width: 18rem;">
    <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">Floodlight 1</h5>
      <button type="button" class="btn btn-lg btn-outline-primary" (click)="toggleFL()" [disabled]="sendingPayment">Toggle Switch Floodlight</button>
      <p class="card-text" *ngIf="sendingPayment">Sending Request for Toggle</p>
    
    </div>
  </div>


</div>